{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>NeoStorage</h1>
    <p class="lead">NeoStorage is an inventory management system to help better organize your companies products.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            NeoStorage gives you a powerful inventory manegment system that provides an efficient way of organizing all of your companies products, their locations,
            vendors, etc.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Benifets of this Program</h2>
        <p>Learn more about the long term benifets of this program.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
