{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<table class="table table-striped">
    <tr>
        <th>CATG</th>
        <th>Group</th>
        <th>Description</th>
        <th>Vendor</th>
        <th>Location</th>
    </tr>

    {% for Product in data %}
    <tr>
        <td>{{ Location.CATG }}</td>
        <td>{{ Location.Group }}</td>
        <td>{{ Location.Description }}</td>
        <td>{{ Location.Vendor }}</td>
        <td>{{ Location.Location }}</td>
    </tr>
    {% endfor %}

    
</table>



{% endblock %}
