{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table class="table table-striped">
    <tr>
        <th>CATG</th>
        <th>Group</th>
        <th>Description</th>
        <th>Vendor</th>
        <th>Location</th>
		<th></th>
    </tr>

    {% for Product in data %}
    <tr>
        <td>{{ Product.CATG }}</td>
        <td>{{ Product.Group }}</td>
        <td>{{ Product.Description }}</td>
        <td>{{ Product.Vendor.Name }}</td>
        <td>{{ Product.Location.Area }} - {{ Product.Location.Bin }}</td>
		<td><a href="product/{{ Product.pk }}">Edit</a></td>

    </tr>
    {% endfor %}    
</table>

<a class="btn btn-primary" href="product/create">Create New Product</a>
{% endblock %}
