{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<table class="table table-striped">
    <tr>
        <th>CATG</th>
        <th>Group</th>
        <th>Description</th>
        <th>Vendor</th>
        <th>Location</th>
    </tr>

    {% for Product in data %}
    <tr>
        <td>{{ Product.CATG }}</td>
        <td>{{ Product.Group }}</td>
        <td>{{ Product.Description }}</td>
        <td>{{ Product.Vendor.Name }}</td>
        <td>{{ Product.Location.Area }} - {{ Product.Location.Bin }}</td>
    </tr>
    {% endfor %}

    
</table>

{% endblock %}
